{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}    

{%block bodyClassName %}backend dashboard{%endblock%}

{%block contentTitle%}<h1>Scheduled tweets</h1>{%endblock%}

{%block content%}
    <a href="#" class="new_tweet button icon new">New tweet</a>
        {% if data %}
            <ul class="schedule">
                {% for tweet in data %}
                    <li>
                        <div class="time">
                            <p class="icon date">{{ tweet.publish|date('d/m/Y') }}</p>
                            <p class="icon time">{{ tweet.publish|date('H:i') }}</p>
                        </div>
                        <div class="tweet">
                            <p>{{ tweet.content }}</p>
                        </div>
                        <div class="actions">
                            {% if is_granted('ROLE_USER')%}
                                <a data-id="{{ tweet.id}}" data-path="{{path('edit')}}"
                                    class="button small icon edit" href="javascript:void(0)">Edit</a>
                                <a data-id="{{ tweet.id}}" data-path="{{path('delete')}}" 
                                    class="button small secondary icon delete" href="javascript:void(0)">Delete</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div style="padding: 20px 10px 20px 10px; margin-bottom: 20px; border-radius: 5px; text-align: center; clear: both; background-color: white;">No tweets scheduled</div>
        {% endif %}
{%endblock content%}			

{%block contentTitle2%}<h2>Download our PDF guides</h2>{%endblock%}
{%block content2%}
        <a href="#"><img src="{{asset('img/banner-besttools.jpg')}}" alt="20 Best Twitter Tools" class="left" /></a>
        <a href="#"><img src="{{asset('img/banner-besttools02.jpg')}}" alt="20 Best Twitter Tools" class="left" /></a>
        <a href="#"><img src="{{asset('img/banner-premium.jpg')}}" alt="Why go premium?" /></a>
{%endblock content2%}
