{% extends "base.html.twig" %}

{% block bodyClassName %}homepage variant1{%endblock%}
{% block body%}
    <div class="wrap">
        <div class="box">
            <h1>No more complication to schedule your tweets.</h1>
            <p><a href="{{ path('dashboard') }}" 
                  alt="Sign in with Twitter" class="button big orange">
                    Sign in with Twitter
                </a>
            </p>
        </div>
    </wrap>
{%endblock%}