<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %} 
        <meta charset="UTF-8" >
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% endblock %} 

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('css/smoothness/jquery-ui-1.10.3.custom.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('css/smoothness/jquery-ui-1.10.3.custom.min.css')}}" type="text/css" />
        <!--[if lte IE 9]><link rel="Stylesheet" type="text/css" href="css/fix-ie9.css" media="screen" /><![endif]-->
        <!--[if lte IE 8]><link rel="Stylesheet" type="text/css" href="css/fix-ie8.css" media="screen" /><![endif]-->
    {% endblock %}

    {% block icon%} 
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}    

    {% block javascripts %}
        <script src="{{asset('js/jquery-1.9.1.js')}}"></script>
        <script src="{{asset('js/jquery-ui-1.10.3.custom.js')}}"></script>
        <script src="{{asset('js/jquery-ui-1.10.3.custom.min.js')}}"></script>  
        <script src="{{asset('js/drazen.js')}}"></script>  
    {% endblock %}
</head>


<body class="{%block bodyClassName %}{%endblock%}"> 
{%block body%}
    {%block header%}
        <span class="loading">
            <img src="{{asset('img/ajax-loader.gif')}}" alt="ajax-loader"/>
        </span>
        <header class="top">
            <a href="#" id="logo">SKGDR</a>
            <div class="right">
                    <a href="#" class="icon switch">Swith user <- Šta bi ovo trebalo bit?</a>
                    <div class="user">
                            <img src="{{asset('img/avatar.jpg')}}" alt="Goran Candrlic" />
                            <span>{{app.user.username}}</span>
                            <ul>
                                    <li><a class="icon settings" href="#">Account settings</a></li>
                                    <li><a class="icon logout" href="{{path ('logout')}}">Sign out</a></li>
                            </ul>
                            <span class="drop"></span>
                    </div>
            </div>
        </header>
    {%endblock %}

    <div id="container" class="wrap">
        <div id="content" class="column">
                {%block contentTitle%}{%endblock%}
                {%block content%}{%endblock%}
                {%block contentTitle2%}{%endblock%}
                {%block content2%}{%endblock%}
        </div>   
            
            <div id="column" class="column">
                <nav>   
                    <ul>
                        <li><a class="new_tweet icon new" href="#">New tweet</a></li>
                        <li><a class="icon schedule" href="#">Scheduled tweets</a></li>
                        <li><a class="icon feeds" href="#">My feeds</a></li>
                        <li><a class="icon stats" href="#">Stats</a></li>
                    </ul>
                </nav>
                <a href="#" class="button orange">Go Premium</a>
            </div>  
    </div>

    {{ include('WebinyTweetBundle:include:new-tweet.html.twig') }}

    <div id="footer">
         &copy; SKGDR 2013. <a href="#">Terms of Service</a> &bull; <a href="#">Contact</a>
    </div>
{%endblock body%}        
</body>  
</html>
