/*******************
*	SKDGR Design   *
*				   *
********************/

/* reset */
html, body, div, p, ul, ol, dl, li, dd, dt, table, tr, td, th, a, img, fieldset, button, legend, h1, h2, h3, h4, h5, h6, h7, blockquote, hr, pre {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
input, textarea, select, option, button {
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    font: inherit;
}
input:focus, select:focus, button:focus, textarea:focus, a:focus, a:active {outline: none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
input:-webkit-autofill {background-color: #fff !important; background-image:none !important;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/* typography */
html {font-size: 100%;}
body {
    font: normal 12px/120% "Aller", "Arial", "Helvetica", sans-serif;
}
/*@media (max-width: 640px) { body {font-size: 1.2rem;} }
@media (min-width: 640px) { body {font-size: 1rem;} }
@media (min-width:960px) { body {font-size: 1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} } */
h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 20px 0;
    line-height: 120%;
}
h2, .backend h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px 0;
    line-height: 120%;
    color: #444c55;
}
h3, fieldset h2, .static .box h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    line-height: 120%;
    color: #444c55;
}
.box p, .box ul, .box ol {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 10px 0;
}
.tweet p {margin: 0}
.box ul:not([class]) li {
    margin: 0 0 0 20px;
    list-style: disc;
}
.backend h1 {
    margin: 0 0 20px 0;
}
a:link, a:visited, a:hover, a:focus {
    color: #63c400;
    text-decoration: none;
}
a:hover, a:focus {text-decoration: underline;}
.schedule .tweet {
    font-size: 12px;
    line-height: 130%;
}
.schedule div.time {color: #444c55;}
#footer {color: #7a8086;}
#footer a {color: #444c55;}

/* layout */
html {
    width: 100%;
    height: 100%;
    position: relative;
}
body {min-height: 100%;}
.backend .wrap {
    position: relative;
    margin: 0;
    max-width: 800px;
}
#container {
    padding: 0 20px 0 220px;
    overflow: hidden;
}
#container .column {
    position: relative;
    float: left;
    padding-bottom: 20015px;
    margin-bottom: -20000px;
}
#column {
    background: #444c55;
    padding: 15px;
    width: 170px;
    right: 220px;
    margin-left: -100%;
    margin-top: 0;
}
#content {
    width: 100%;
    padding-top: 20px;
    margin-top: 0;
}
#footer {
    clear: both;
    background: #c6c8cb;
    padding: 15px;
    text-align: center;
}
.left {
    float: left;
    margin-right: 20px;
}
@media only screen and (max-width: 640px) {
    #container {
        padding: 0;
        position: relative;
    }
    #container .column {
        float: none;
        padding-bottom: 15px;
        margin-bottom: 0;
    }
    #container #column {
        width: 94%;
        padding: 10px 3% 10px 3%;
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 22px;
    }
    #content {
        width: 94%;
        padding: 60px 3% 15px 3%;
        margin-top: 0;
    }
}

/* design */
html, body {
    background: #d9d9d9;
    color: #19242f;
}
.backend header.top {
    position: relative;
    background: #eee;
    padding: 10px 15px;
    z-index: 10;
    -webkit-box-shadow:  0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
.backend .top .right {
    float: right;
}
#logo {
    display: inline-block;
    text-indent: -9999px;
    background: url(../img/logo-temp.png) 0 0 no-repeat;
    width: 128px;
    height: 24px;
    margin: 6px 0 0 0;
}
.box {
    clear: both;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
@media only screen and (max-width: 800px) {
    .backend header.top {
        padding: 10px 3%;
    }
}

/* navigation */
#column nav li {
    list-style: none;
}
#column nav a {
    display: block;
    padding: 9px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 14px;
    color: #fff;
}
#column nav a:hover {
    background: #2f353b;
    text-decoration: none;
    -webkit-box-shadow:  0px 1px 0px 0px #555c64;
    box-shadow:  0px 1px 0px 0px #555c64;
}
#column nav a:before {margin: 0 8px 0 0;}
.switch {
    float: left;
    margin: 9px 15px 0 0;
}
.user {
    float: left;
    position: relative;
    background: #fff;
    padding: 7px 8px;
    width: 125px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.user img {
    width: 16px;
    height: 16px;
    border: 1px solid #efefef;
    float: left;
}
.user span {
    display: inline-block;
    padding: 2px 0 0 5px;
}
.user ul {
    display: none;
    position: absolute;
    left: 0;
    top: 25px;
    list-style: none;
    background: #fff;
    width: 100%;
    padding-bottom: 10px;
    z-index: 100;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.user ul li a {
    display: block;
    margin: 10px 0 0 12px;
}
.user:hover ul, .user ul:hover {display: block;}
@media only screen and (max-width: 640px) {
    #column nav {float: left;}
    #column nav li {display: inline;}
    #column nav a {
        display: inline-block;
        float: left;
        padding: 5px 0;
        width: 22px;
        height: 13px;
        text-indent: -9999px;
    }
}

/* forms */
input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea, select, .jquery-aselect-wrap {
    background: #eee;
    color: #373737;
    font-size: 12px;
    line-height: 120%;
    height: 16px;
    padding: 5px 6px 5px 6px;
    border-top: 1px solid #d3d6d9;
    border-radius: 2px; -webkit-border-radius: 2px;
}
select {
    padding: 5px;
    height: 27px;
    width: 50px;
}
textarea {
    height: 5em;
    font-size: 14px;
}
label {
    font-size: 12px;
    color: #444c55;
}
fieldset {
    clear: both;
}
.floated label {
    clear: both;
    float: left;
    width: 145px;
    padding: 7px 0;
    margin-bottom: 15px;
}
.floated input, .floated select, .floated textarea, .floated .jquery-aselect-wrap {
    float: left;
    width: 200px;
    margin-bottom: 15px;
}
.floated select, .floated .jquery-aselect-wrap {width: 212px;}
.floated button {
    clear: both;
    margin: 0 0 0 145px;
    float: left;
}
.popup label {margin-right: 5px;}
.popup input {
    width: 120px;
    margin-right: 20px;
}
.popup textarea {
    width: 97%;
    padding: 10px 1.5%;
    margin: 0 0 15px 0;
}
.popup button {
    float: right;
}
.popup select, .popup .jquery-aselect-wrap {margin-right: 2px;}

/* buttons */
button, .button, a.button {
    display: inline-block;
    padding: 8px 13px 10px 13px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-top: 1px solid #b6e580;
    background: #63c400;
    background: -moz-linear-gradient(top,  #6dca00 0%, #59be00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dca00), color-stop(100%,#59be00));
    background: -webkit-linear-gradient(top,  #6dca00 0%,#59be00 100%);
    background: -o-linear-gradient(top,  #6dca00 0%,#59be00 100%);
    background: -ms-linear-gradient(top,  #6dca00 0%,#59be00 100%);
    background: linear-gradient(to bottom,  #6dca00 0%,#59be00 100%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.4);
    text-shadow: 0px 1px 0px #499400;
    filter: dropshadow(color=#499400, offx=0, offy=1);
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
}
button:hover, .button:hover {
    background: #59be00;
    background: -moz-linear-gradient(top,  #59be00 0%, #6dca00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59be00), color-stop(100%,#6dca00));
    background: -webkit-linear-gradient(top,  #59be00 0%,#6dca00 100%);
    background: -o-linear-gradient(top,  #59be00 0%,#6dca00 100%);
    background: -ms-linear-gradient(top,  #59be00 0%,#6dca00 100%);
    background: linear-gradient(to bottom,  #59be00 0%,#6dca00 100%);
}
button.big, .button.big {
    padding: 12px 18px 14px 18px;
    font-size: 24px;
    -webkit-box-shadow:  0px 3px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 3px 0px 0px rgba(0, 0, 0, 0.4);
}
button.small, .button.small {
    padding: 4px 6px 3px 6px;
    font-size: 12px;
    -webkit-box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
button.orange, .button.orange {
    border-top: 1px solid #ffce85;
    background: #ff9209;
    background: -moz-linear-gradient(top,  #ff9d0a 0%, #ff8708 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9d0a), color-stop(100%,#ff8708));
    background: -webkit-linear-gradient(top,  #ff9d0a 0%,#ff8708 100%);
    background: -o-linear-gradient(top,  #ff9d0a 0%,#ff8708 100%);
    background: -ms-linear-gradient(top,  #ff9d0a 0%,#ff8708 100%);
    background: linear-gradient(to bottom,  #ff9d0a 0%,#ff8708 100%);
    text-shadow: 0px 1px 0px #c46c07;
    filter: dropshadow(color=#c46c07, offx=0, offy=1);
}
button.orange:hover, .button.orange:hover {
    background: #ff8708;
    background: -moz-linear-gradient(top,  #ff8708 0%, #ff9d0a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8708), color-stop(100%,#ff9d0a));
    background: -webkit-linear-gradient(top,  #ff8708 0%,#ff9d0a 100%);
    background: -o-linear-gradient(top,  #ff8708 0%,#ff9d0a 100%);
    background: -ms-linear-gradient(top,  #ff8708 0%,#ff9d0a 100%);
    background: linear-gradient(to bottom,  #ff8708 0%,#ff9d0a 100%);
}
button.secondary, .button.secondary {
    border-top: 1px solid #a5aaaf;
    background: #444c55;
    background: -moz-linear-gradient(top,  #4b535d 0%, #3d454d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b535d), color-stop(100%,#3d454d));
    background: -webkit-linear-gradient(top,  #4b535d 0%,#3d454d 100%);
    background: -o-linear-gradient(top,  #4b535d 0%,#3d454d 100%);
    background: -ms-linear-gradient(top,  #4b535d 0%,#3d454d 100%);
    background: linear-gradient(to bottom,  #4b535d 0%,#3d454d 100%);
    text-shadow: 0px 1px 0px #32383e;
    filter: dropshadow(color=#32383e, offx=0, offy=1);
}
button.secondary:hover, .button.secondary:hover {
    background: #3d454d;
    background: -moz-linear-gradient(top,  #3d454d 0%, #4b535d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d454d), color-stop(100%,#4b535d));
    background: -webkit-linear-gradient(top,  #3d454d 0%,#4b535d 100%);
    background: -o-linear-gradient(top,  #3d454d 0%,#4b535d 100%);
    background: -ms-linear-gradient(top,  #3d454d 0%,#4b535d 100%);
    background: linear-gradient(to bottom,  #3d454d 0%,#4b535d 100%);
}
#column .button {
    display: block;
    text-align: center;
    margin-top: 50px;
}
@media only screen and (max-width: 640px) {
    #column .button {
        display: inline-block;
        float: right;
        margin: 0;
        padding: 3px 6px 4px 6px;
        font-size: 14px;
    }
}

/* icons */
.icon {
    position: relative;
}
.icon:before {
    display: inline-block;
    content: " ";
    width: 12px;
    height: 12px;
    margin: 0 5px -1px 0;
    background: url(../img/icons.png) 0 0 no-repeat;
}
.icon.switch:before 	{background-position: -36px 0;}
.icon.settings:before 	{background-position: -48px 0;}
.icon.time:before 		{background-position: -24px 0;}
.icon.date:before 		{background-position: -12px 0;}
.icon.logout:before 	{background-position: -60px 0;}
.button.icon.new:before{background-position: 0 -12px;}
.button.icon.edit:before{background-position: 0 -12px;}
.button.icon.delete:before{background-position: -72px -12px;}
#column .new:before 	{background-position: 0 -24px;}
#column .schedule:before{background-position: -12px -24px;}
#column .feeds:before 	{background-position: -96px -24px;}
#column .stats:before 	{background-position: -84px -24px;}
@media only screen and (max-width: 640px) {
    #column .icon:before {
        position: absolute;
        left: 5px;
    }
}

/* scheduled tweets */
.dashboard h1 {float: left;}
.dashboard #content > .button.new {
    float: right;
    margin: -5px 0 10px 0;
}
ul.schedule {margin: 0 0 30px 0;}
.schedule li {
    list-style: none;
    clear: both;
    padding: 0 0 20px 0;
}
.schedule div.time {
    float: left;
    width: 140px;
    padding: 7px 0 0 0;
}
.schedule div.time p {
    margin-bottom: 5px;
}
.schedule .tweet {
    float: left;
    /*width: 60%;*/
    width: 564px;
    background: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow:  0px 1px 0px 0px #c6c8cb;
    box-shadow:  0px 1px 0px 0px #c6c8cb;
}
.schedule .actions {
    float: left;
    width: 70px;
    margin: 0 0 0 5px;
}
.schedule .actions a {
    display: block;
    margin-bottom: 5px;
}
@media only screen and (max-width: 960px) {
    .schedule .tweet {
        width: 56%;
        padding: 7px 2%;
    }
}
@media only screen and (max-width: 640px) {
    .schedule li {
        border-top: 1px solid #c6c8cb;
        padding: 5px 0 15px 0;
    }
    .schedule li:first-child {
        border: none;
        padding: 0 0 15px 0;
    }
    .schedule div.time, .schedule .tweet, .schedule .actions {
        float: none;
        clear: both;
        width: auto;
        margin: 0;
    }
    .schedule .actions a {
        display: inline-block;
        width: auto;
        margin: 5px 5px 0 0;
    }
}

/* popup */
.shade, .shade_edit, .popup{
    display: none;
}
.shade, .shade_edit, .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(68, 76, 85, 0.8);
}
.popup{
    display: block;
    position: absolute;
    top: 200px;
    left: 50%;
    margin: 0 0 0 -350px;
    width: 700px;
    -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}

.loading {
    text-align: center;
    position: absolute;
    z-index: 9999;
}

span.loading img{
    padding-top: 200px;
    width: 150px;
    /*background: rgba(68, 76, 85, 0.8);*/
}

/* landing page */
.homepage {
    background-position: 50% 100%;
    background-size: cover;
}
.variant1 {background-image: url("../img/homepage-complicated.jpg");}
.variant1 .wrap {
    padding: 50px 0;
}
.variant1 .box {
    margin: 0 auto;
    max-width: 700px;
    padding: 35px 30px 40px 30px;
    color: #fff;
    background: rgba(25, 36, 47, 0.8);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}
.homepage p {clear: both;}
@media only screen and (max-width: 800px) {
    .variant1 .box {
        width: 80%;
        padding: 40px 5%;
    }
}

/* clearing */
.clear {clear: both;}
.wrap:after, .schedule li:after, .top:after {
    content: ".";
    display: block;
    height: 0;
    padding: 0;
    clear: both;
    visibility: hidden;
}
#footer .wrap:after {display: none;}